@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0F172A;
  --accent: #FF7A59;
  --secondary: #38BDF8;
  --background: #F8FAFC;
}

@layer base {
  body {
    background-color: #F8FAFC;
    color: #0F172A;
    font-family: var(--font-inter), sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

